body {
  margin: 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  background-color: green;
  float: left;
}

.list-item:hover {
  background-color: orange;
}

.nav-link {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--black);
}
