.about-container {
  display: flex;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.about .card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

@media (max-width: 414px) {
  .about .card {
    height: 30rem;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .about .card {
    height: 20rem;
  }
}
