form {
  border: 1px solid black;
  border-radius: 10px;
  width: 75%;
  padding: 20px 30px 20px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
  font-weight: bold;
}

.btn {
  height: 2.5em;
  width: 49%;
  border-radius: 5px;
}
